<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>

  <div id="contenedor">
   <%- include('./partials/cabecera.ejs', { session: locals.session }) %>
 
   <main>
     <article>
     <%- include(contenido) %>
     </article>
   </main>
</div>
 
</body>
<script src="/js/global.js"></script>
</html>