<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>

  <div id="contenedor">
   <%- include('./partials/cabecera.ejs', { session: locals.session }) %>
   <%- include('./partials/sidebarIzq.ejs') %>
 
   <main>
     <article>
     <%- include(contenido) %>
     </article>
   </main>
 </div> <!-- Fin del contenedor -->
 
</body>
<script src="/js/eventos.js"></script>
<script src="/js/global.js"></script>

</html>