<header>
    <h1>Mi gran página web</h1>
    <div class="saludo">

        <% if (!session.nombre) { %>
            Usuario desconocido. <a href='/usuarios/login'>Login</a>
        <% } else { %>
            <p>¡Bienvenido, <%= session.nombre %>!</p>
        <% } %>
       	
    </div>
</header>