/* TODO: Coloca tu código aquí */

input {
    color: black;
}

textarea {
    color: black;
}

* {
    color: white;
}

body {
    background-color: #011329;
}

.contactSubmitBtn {
    color: #011329;
}

