<header>
    <nav class="navbar">
        <div class="logo-container">
            <img src="/img/logoUCMBets.png" alt="UCMBets Logo" class="logo">
            <span>UCMBets</span>
        </div>

         <button class="cabecera-movil" aria-label="Menu">
            <span class="cabecera-movil-line"></span>
            <span class="cabecera-movil-line"></span>
            <span class="cabecera-movil-line"></span>
        </button>

        <div class="nav-container">
        
            <div class="nav-links">
                <a href="/contenido/foroComun">Inicio</a>
                <a href="/contenido/eventos">Eventos</a>
                <a href="/contenido/mis-apuestas">Mis Apuestas</a>
                <a href="/contenido/gestion-eventos">Competición</a>
                <a href="/contenido/perfil">Perfil</a>
            </div>
            <div class="user-menu">
                <% function mostrarSaludo(session){ if (session==null || !session.login) { return `<a class='login-btn'
                    href='/usuarios/login'>Iniciar sesión</a>`;
                    }
        
                    return `
                    <div class="user-actions">
                        <div class="contenedor-cartera">
                            <i class="fa-solid fa-wallet"></i>
                            <span class="cantidad-fondos">${session.fondos}€</span>
                        </div>
                        <a class='login-btn' href='/usuarios/logout'>Cerrar sesión</a>
                    </div>
                    `;
                    } %>
                    <%- mostrarSaludo(session) %>
            </div>

        </div>
        
    </nav>
    <script src="/js/navbar.js"></script>
</header>