
<button id="toggle-sidebar" class="toggle-sidebar-btn">&#x25B6;</button>
<div class="sidebar" id="sidebar">
    <div class="sports-menu">
        <a href="/contenido/foroComun"  class="sport-item" data-deporte="todos">General</a>
        <a href="/contenido/futbol11"  class="sport-item" data-deporte="futbol11">Fútbol 11</a>
        <a href="/contenido/futbolSala" class="sport-item" data-deporte="futbolsala">Fútbol Sala</a>
        <a href="/contenido/baloncesto" class="sport-item" data-deporte="baloncesto">Baloncesto</a>
        <a href="/contenido/rugby" class="sport-item" data-deporte="rugby">Rugby</a>
        <a href="/contenido/voleibol" class="sport-item" data-deporte="voleibol">Voleibol</a>
    </div>
</div>