<div class="sidebar">
    <div class="sports-menu">
        <a href="/contenido/futbol11"  class="sport-item">Fútbol 11</a>
        <a href="/contenido/futbolSala" class="sport-item">Fútbol Sala</a>
        <a href="/contenido/baloncesto" class="sport-item">Baloncesto</a>
        <a href="/contenido/rugby" class="sport-item">Rugby</a>
        <a href="/contenido/voleibol" class="sport-item">Voleibol</a>
    </div>
</div>