<div class="sidebar">
    <div class="sports-menu">
        <a href="/contenido/foroFutbol11"  class="sport-item">Fútbol 11</a>
        <a href="#" class="sport-item">Fútbol Sala</a>
        <a href="#" class="sport-item">Baloncesto</a>
        <a href="#" class="sport-item">Rugby</a>
        <a href="#" class="sport-item">Voleibol</a>
    </div>
</div>