<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigos</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <div class="amigos-container">
        <div class="perfil-header">
            <img src="/img/gallo.jpg" alt="Avatar" class="avatar">
            <div class="perfil-header-content">
                <h1><%= session.nombre %></h1>
                <p class="tipo-usuario"><%= session.esAdmin ? 'Administrador' : (session.esVIP ? 'Cliente VIP' : 'Cliente Normal') %></p>
            </div>
        </div>
        <div class="amigos-header">
            <h1>Amigos de <%= session.nombre %></h1>
        </div>
        <div class="amigos-content">
            <div class="amigos-a単adir">
                <input type="text" name="username" placeholder="A単ade un amigo...">
                <button>A単adir</button>
            </div>
            
            <% function mostrarAmigos(amigos) { 
                let result="" ; 
                if (!amigos) {
                return "<div>No has a単adido amigos.</div>" ; } 
                
                for (let i=0; i < amigos.length; i++) {
                let amigo = null;
                if ()
                result +=`

                <img src="/img/descarga.jpeg" alt="Avatar">
                <span class="nombre">${(amigos[i].id_usuario == Usuario.getUsuarioById(id).id) ? Usuario.getUsuarioById(amigos[i].id_amigo).nombre : Usuario.getUsuarioById(amigos[i].id_usuario)}</span>
                <div class="acciones">
                    <a href="/contenido/chat?amigo=Manolo%20Lama" target="_blank">
                        <button>Mensaje</button>
                    </a>
                    <button>Eliminar</button>
                </div>

        </div>`;
    }
    
    }
    return result;
    }
    %>

        </div>
    </div>
</body>
</html>