<div class="chat-container">
    <div class="chat-messages">
        
<%function mostrarMensajes(mensajes) {
    let result = "";
    if (!mensajes) {
        return "<div>No hay mensajes disponibles.</div>";
    }

    for (let i = 0; i < mensajes.length; i++) {
        result += `<div class="message">`;

        if (i !== 0 && (new Date(mensajes[i].created_at).getFullYear() !== new Date(mensajes[i-1].created_at).getFullYear() ||
                        new Date(mensajes[i].created_at).getMonth() !== new Date(mensajes[i-1].created_at).getMonth() || 
                        new Date(mensajes[i].created_at).getDate() !== new Date(mensajes[i-1].created_at).getDate())) {
                            result += `<div class="forum-new-date"><strong>
                                ${ new Date(mensajes[i].created_at).toLocaleString('es-ES', {
                                    day: '2-digit',
                                    month: '2-digit',
                                    year: 'numeric'
                                }) }
                            </strong></div>`;
        }

        if (mensajes[i].mensajeRespuesta != null) {
            result += `
                <div class="chat-reply">
                    <em>respondiendo a ${mensajes[i].respUsername}: ${mensajes[i].mensajeRespuesta}</em>
                </div>`;
        }

        result += `
            <div class="chat-info">
                <span class="reply-btn">
                    <a href="/contenido/mensajes?id=${mensajes[i].id}" id="reply">
                        <img src="/img/reply.webp">
                    </a>
                </span>
                <span class="username">${mensajes[i].username}:</span>
                <span class="content">${mensajes[i].mensaje}</span>
                <span class="time">
                    ${ new Date(mensajes[i].created_at).toLocaleString('es-ES', {
                        hour: '2-digit',
                        minute: '2-digit'
                    }) }
                </span>
            </div>
        </div>`;
    }

    return result;
}
%>

<%- mostrarMensajes(locals.mensajes) %>
    </div>
    
        <form id="enviar" action="/contenido/enviarmensaje" method="POST" autocomplete="off">
         <div class="chat-input-foroG">
        <% function mostrarRespuesta(resp,mensajeRespuesta) { if (!resp) { return "" ; } return `
        
        <div class="chat-input-reply">
            <a href="/contenido/foroComun" id="reply">
                <img src="/img/x.png">
            </a>
            <img src="/img/reply.webp">
            <span class="reply-input-username">respondiendo a ${mensajeRespuesta.username}:
                ${mensajeRespuesta.mensaje}</span>
            <input type="hidden" name="id_respuesta" value="${mensajeRespuesta.id}">
    </div>`;

    }%>
    <%- mostrarRespuesta(locals.respuesta,locals.mensajeRespuesta) %>

        <div class="chat-input-enter-msg">
            <div class="forum-btn">
                <button type="submit" id="send">
                    <img src="/img/send_message.png">
                </button>
            </div>
            <% if (!session.nombre) { %>
                <input type="text" placeholder="No está permitido escribir sin iniciar sesión" disabled>
                <% } else { %>
                    <input type="text" id="mensaje" name="mensaje" placeholder="Escribe un mensaje...">
            <% } %>
        </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('enviar').addEventListener('submit', function (e) {
        const input = document.getElementById('mensaje');
        if (!input.value.trim()) {
            e.preventDefault();
        }
    });
</script>