<div class="foro-futbolSala">
    <h2>Foro de Fútbol Sala</h2>
    <p>Bienvenido al foro de fútbol sala. Aquí puedes discutir todo lo relacionado con el fútbol sala.</p>
</div>
<div class="chat-container">
    <div class="chat-messages">
        <div class="message">
            <span class="reply-btn">
                <button id="reply">
                    <img src="img/reply.webp">
                </button>
            </span>
            <span class="time">18:24</span>
            <span class="username">futsalFan:</span>
            <span class="content">¿Quién es el mejor jugador de Fútbol Sala?</span>
        </div>
        <div class="message">
            <span class="reply-btn">
                <button id="reply">
                    <img src="img/reply.webp">
                </button>
            </span>
            <span class="time">18:26</span>
            <span class="username">dribblingMaster:</span>
            <span class="content">¡El último torneo estuvo muy reñido!</span>
        </div>
    </div>
    <div class="chat-input">
        <div class="forum-btn">
            <button id="send">
                <img src="img/send_message.png">
            </button>
        </div>
        <% if (!session.nombre) { %>
            <input type="text" placeholder="No está permitido escribir sin iniciar sesión" disabled>
        <% } else { %>
            <input type="text" placeholder="Escribe un mensaje...">
        <% } %>
    </div>
</div>