<div class="chat-container">
    <div class="chat-messages">
        <%
        function mostrarMensajes(session) {
            let result = "";
            if (!session.mensajes) {
                return "<div>No hay mensajes disponibles.</div>";
            }
            for (let i = 0; i < session.mensajes.length; i++) {
                result += `<div class="message">
                <span class="reply-btn">
                     <button id="reply">
                          <img src="/img/reply.webp">
                     </button>
                </span>
                <span class="time">${session.mensajes[i].created_at}</span>
                <span class="username">${session.mensajes[i].username}:</span>
                <span class="content">${session.mensajes[i].mensaje}</span>
                </div>`;
            }
            return result;
        }
        %>
        <%- mostrarMensajes(session) %>
    </div>

    <div class="chat-input-foroG">
        <form action="/contenido/enviarmensaje" method="POST">
            <div class="chat-input-reply">
                <img src="/img/reply.webp">
                <span class="reply-input-username">respondiendo a yisus1203: ensayo de adri, estoy dando volteretas en mi casa</span>
            </div>
            <div class="chat-input-enter-msg">
                <div class="forum-btn">
                    <button type="submit" id="send">
                        <img src="/img/send_message.png">
                    </button>
                </div>
                <% if (!session.nombre) { %>
                    <input type="text" placeholder="No está permitido escribir sin iniciar sesión" disabled>
                <% } else { %>
                    <input type="text" name="mensaje" placeholder="Escribe un mensaje...">
                <% } %>
            </div>
        </form>
    </div>
</div>