<div class="chat-container">
    <div class="chat-messages">
        <div class="message">
            <span class="username">petermartin:</span>
            <span class="content">meterle a rugby físicas genteeeee</span>
            <span class="time">18:24</span>
        </div>
        <div class="message">
            <span class="username">yisus1203:</span>
            <span class="content">ensayo de adri, estoy dando volteretas en mi casa</span>
            <span class="time">18:26</span>
        </div>
        <!-- Más mensajes aquí -->
    </div>
    <div class="chat-input-foroG">
        <div class="forum-btn">
            <button id="send">
                <img src="img/send_message.png">
            </button>
        </div>
        <% if (!session.nombre) { %>
            <input type="text" placeholder="No está permitido escribir sin iniciar sesión" disabled>
        <% } else { %>
            <input type="text" placeholder="Escribe un mensaje...">
        <% } %>
    </div>
</div>