<div class="foro-futbolSala">
    <h2>Foro de Fútbol Sala</h2>
    <p>Bienvenido al foro de fútbol sala. Aquí puedes discutir todo lo relacionado con el fútbol sala.</p>
</div>
<div class="chat-container">
    <div class="chat-messages">
        <% function mostrarMensajes(mensajes) {
            let result = "";
            if (!mensajes) return "<div>No hay mensajes disponibles.</div>";
            for (let i = 0; i < mensajes.length; i++) {
                result += `<div class="message">`;
                if (mensajes[i].mensajeRespuesta != null) {
                    result += `
                        <div class="chat-reply">
                            <em>respondiendo a ${mensajes[i].respUsername}: ${mensajes[i].mensajeRespuesta}</em>
                        </div>`;
                }
                result += `
                    <div class="chat-info">
                        <span class="reply-btn">
                            <a href="/contenido/futbolSala?id=${mensajes[i].id}" id="reply">
                                <img src="/img/reply.webp">
                            </a>
                        </span>
                        <span class="username">${mensajes[i].username}:</span>
                        <span class="content">${mensajes[i].mensaje}</span>
                        <span class="time">${new Date(mensajes[i].created_at).toLocaleString('es-ES', { hour: '2-digit', minute: '2-digit' })}</span>
                    </div>
                </div>`;
            }
            return result;
        } %>
        <%- mostrarMensajes(locals.mensajes) %>
    </div>
    <form id="enviar" action="/contenido/enviarMensajeFutbolSala" method="POST" autocomplete="off">
        <div class="chat-input-enter-msg">
            <% if (respuesta) { %>
                <div class="chat-input-reply">
                    <a href="/contenido/futbolSala" id="reply">
                        <img src="/img/x.png">
                    </a>
                    <img src="/img/reply.webp">
                    <span class="reply-input-username">respondiendo a <%= mensajeRespuesta.username %>: <%= mensajeRespuesta.mensaje %></span>
                    <input type="hidden" name="id_respuesta" value="<%= mensajeRespuesta.id %>">
                </div>
            <% } %>
            <div class="forum-btn">
                <button type="submit" id="send">
                    <img src="/img/send_message.png">
                </button>
            </div>
            <% if (!session.nombre) { %>
                <input type="text" placeholder="No está permitido escribir sin iniciar sesión" disabled>
            <% } else { %>
                <input type="text" id="mensaje" name="mensaje" placeholder="Escribe un mensaje...">
            <% } %>
        </div>
    </form>
</div>