<div class="deporte-layout">
    <div class="eventos-deporte">
        <h2>Eventos de Voleibol</h2>
        <% if (eventos && eventos.length > 0) { %>
            <ul>
                <% eventos.forEach(evento => { %>
                    <li>
                        <%= evento.equipoA %> vs <%= evento.equipoB %> - <%= evento.fecha %>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No hay eventos de Voleibol.</p>
        <% } %>
    </div>
    <aside class="foro-deporte">
        <%- include('./foroVoleibol.ejs', { mensajes: mensajes, session: session }) %>
    </aside>
</div>